*{
    padding: 0;
    margin: 0;
}

:root {
    --orange: #ff5700;
    --black: #000;
    --blue: #7977a2;
    --red: #e60023;
    --light-pink: #fff8fe;
    --purple: #423f8d;

    --font: 'Josefin Sans', sans-serif;
    --gradient: linear-gradient(var(--orange), rgb(250, 141, 17));

}

body {
    font-family: var(--font);
    overflow-x: hidden;
}

button{
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background: var(--gradient);
    cursor: pointer;
    letter-spacing: 2px;
}
button a{
    color: white;
    font-weight: 700;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

h1{
    font-weight: 700;
    font-size: 2.5rem;
}
h2{
    font-size: 1.7rem;
    font-weight: 700px;
}

p{
    font-size: 20px;
    font-weight: 400;
}

/* ==================== HEADER SECTION ========================= */
header {
    height: 100vh;
    background-color: var(--light-pink);
}
header nav {
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: var(--light-pink);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo img {
    height: 50px;
    padding-left: 30px;
}

nav .menu__bar ul{
    display: flex;
}
nav .menu__bar ul li {
    margin: 10px 20px;
}
nav .menu__bar ul li a{
    color: var(--purple);
    font-size: 17px;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}
nav .menu__bar ul li a:hover {
    color: var(--orange);
}
nav .contact__btn {
    margin-right: 30px;
}



.toggle {
   height: 25px;
   width: 38px;
   margin-right: 20px;
   cursor: pointer;
   display: none;
}
.toggle span{
    position: absolute;
    height: 2px;
    width: 35px;
    background-color: #000;
}
.toggle span:nth-child(1){
    transform: translateY(8px);
}
.toggle span:nth-child(2){
    transform: translateY(16px);
}




/* =============== HEADER CONTENT ====================== */
.header__content {
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.header__content .left__content{
    width: 60%;
    padding-left: 40px;
}
.header__content .left__content h1{
    color: var(--purple);
}
.header__content .left__content p{
    color: var(--blue);
}
.header__content .left__content button {
    margin-top: 30px;
}
.header__content .right__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.header__content .right__content img {
    height: 30rem;
}

/* ========== HEADER MEDIA QUERY ============= */
@media (max-width: 1150px) {
    .header__content .right__content img {
        height: 22rem;
    }
    .header__content .left__content {
        padding-top: 150px;
    }
}

@media(max-width: 947px) {
    .header__content {
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        text-align: center;
        width: 100%;
    }
    .header__content .left__content{
        width: 100%;
        padding-left: 0px;
    }
    .header__content .right__content img{
        display: none;
    }
}

@media (max-width: 890px) {
    .menu__bar{
        display: none;
    }
    .contact__btn{
        display: none;
    }
    .toggle {
        display: block;
    }
}





/* ==========  SECTION two   ============= */
.section__two {
    margin-top: 200px;
    margin-bottom: 150px;
    text-align: center;
}
.section__two h2{
    color: var(--purple);
    margin: 1px auto;
}

.section__two p{
    color: var(--blue);
    margin: 1px auto;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 80px;
}
.section__two .company {
    display: flex;
    justify-content: space-around;
}

/* ==========  SECTION TWO MEDIA QUERY   ============= */
@media (max-width: 600px){
    .section__two {
        margin-top: 100px;
    }
    .section__two .company{
        padding-bottom: 30px;
        flex-direction: column;
    }
    .section__two .company img{
        padding-bottom: 20px;
    }
    .section__two p{
        width: 90%;
    }
}






/* ==========  SECTION THREE  ============= */
.section__three{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section__three .text{
 width: 50%;
}

.section__three .text h2{
    color: var(--purple);
}
.section__three .text p {
    color: var(--blue);
    padding-top: 20px;
    padding-bottom: 40px;
}

/* ==========  SECTION THREE MEDIA QUERY ============= */
@media (max-width: 1040px) {
    .section__three{
        flex-direction: column;
    }
    .section__three .text {
        width: 90%;
        text-align: center;
        padding-top: 60px;
    }
}

@media (max-width: 590px) {
    .section__three .img img{
        width: 400px;
    }
}






/* ========== SERVICE SECTION  ============= */
.service__section{
    margin-top: 300px;
}
.services{
padding: 10px 40px;
}
.services .text{
    padding: 0 30px;
}
.services .text h2{
    color: var(--purple);
}
.services .text p{
    color: var(--blue);
    padding-top: 20px;
}

.services{
  display: grid;
  grid-template-columns: repeat(2, 500px);
  grid-template-rows: repeat(2, 200px);
  justify-content: center;
  margin: 100px auto;
  grid-gap: 30px;
}

.services .service{
    background-color: rgb(255, 234, 234);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 1px 0px 10px 1px rgb(255, 198, 198);
}

/* ========== SERVICE SECTION MEDIA QUERY  ============= */
@media (max-width: 1098px){
    .services {
        grid-template-columns: repeat(1, 450px);
    }
}





/* ========== PLAN SECTION  ============= */
.plan__text{
    text-align: center;
    margin-top: 200px;
}
.plan__text h2{
    color: var(--purple);
    margin: 30px;
}
.plan__text p{
    width: 70%;
    margin: 1px auto;
}
.our__plans{
    margin: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 500px);
    grid-gap: 50px;
    justify-content: center;
    text-align: center;
}
.our__plans .allplan{
     background-color: rgb(255, 235, 238);
     border-radius: 5px;
     padding: 30px 10px;
     box-shadow: 1px 0px 10px 1px rgb(255, 198, 198);

}

.our__plans .allplan .price h1{
    font-size: 30px;
    color: var(--purple);
    padding-bottom: 20px;
}
.our__plans .allplan p{
    color: var(--blue);
    line-height: 2;
}
.our__plans .allplan .price p{
    padding-bottom: 20px;
}
.our__plans .allplan button{
    margin-top: 30px;
    color: white;
}

/* ========== PLAN SECTION MMEDIA QUERY ============= */
@media (max-width: 1130px) {
    .our__plans {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 844px) {
    .our__plans {
        grid-template-columns: repeat(1, 1fr);
    }
}






/* ========== CONTACT SECTION ============= */
.contact__us{
    display: flex;
    justify-content: space-between;
    padding: 100px 50px;
    margin-top: 100px;
    background-color: var(--purple);
}
.contact__us .text {
    color: #fff;
}
.contact__us .text h2{
    padding-bottom: 20px;
}

/* ========== CONTACT SECTION MEDIA QUERY ============= */
@media(max-width: 925px){
    .contact__us{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contact{
        margin: 30px;
    }

}







/* ========== FOOTER SECTION ============= */
.footer__section{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    padding: 10px 20px;
}
.footer__section h2{
    color: var(--purple);
    padding-bottom: 10px;
}
.footer__section p{
    color: var(--blue);
}
.footer__section a{
    color: var(--blue);
}
.footer__section .navigation ul li {
    color: var(--blue);
    padding-bottom: 15px;
}
.footer__section .service ul li {
    padding-bottom: 15px;
}

/* ========== FOOTER SECTION MEDIA QUERY ============= */
@media (max-width: 960px){
    .footer__section {
        flex-direction: column;
    }
    .footer__section .logo{
        margin-bottom: 20px;
    }
    .footer__section .navigation{
        margin-bottom: 20px;
    }
    .footer__section .service{
        margin-bottom: 20px
    }
}









/* ========== MOBILE MENU ============= */
.toggle.open__toggle{
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

.toggle.open__toggle span:nth-child(1){
    transform: rotate(45deg);
    transition: 0.3s ease-in-out;
}

.toggle.open__toggle span:nth-child(2){
    transform: rotate(-45deg);
    transition: 0.3s ease-in-out;
}
.toggle.open__toggle span:nth-child(3){
    transition: 0.4s ease-in-out;
    opacity: 0;
}


.mobile__menu{
    position: fixed;
    top: 80px;
    background-color: var(--purple);
    height: 300px;
    width: 80%;
    left: 10%;
    border-radius: 5px;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.mobile__menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    line-height: 45px;
}
.mobile__menu ul li a{
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s;
}
.mobile__menu ul li a:hover {
    color: var(--orange);
}

.mobile__menu.open{
    opacity: 1;
}












